/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.table-header {
  background-color: #f8f9fa;
  color: #343a40;
  font-weight: bold;
  font-size: 18px;
}


.custom-form-container {
   max-width: 100%;
   margin: 0 auto;
}

@media (min-width: 768px) {
   .custom-form-container {
      max-width: 400px;
   }
}


#centred-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 800px; /* Ограничение ширины до 400 пикселей */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    margin-top: 50px
}

#centred-container p {
    text-align: center; /* Выравнивание текста по центру */
}

.time-container {
  display: flex;
  align-items: center;
}

.recording-dot {
  width: 10px;
  height: 10px;
  margin-top: -7px; /* Отрицательный отступ сверху */
  margin-right: 3px;
  border-radius: 50%;
  background-color: red;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}


.timer-container {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  width: 480px;
  margin: 0 auto;
}

.card-title {
  margin-bottom: 20px;
}