/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.table-header {
  background-color: #f8f9fa;
  color: #343a40;
  font-weight: bold;
  font-size: 18px;
}


.custom-form-container {
   max-width: 100%;
   margin: 0 auto;
}

@media (min-width: 768px) {
   .custom-form-container {
      max-width: 400px;
   }
}

.timer-container {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

#speaking-practice-card {
  width: 600px;
  margin: 0 auto;
}

.custom-list li:before {
  content: "\2022"; /* Юникод-код для точки */
  margin-right: 5px; /* Расстояние между точкой и текстом элемента списка */
}

.blinking-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    animation: blinking-dot 1s infinite;
}

@keyframes blinking-dot {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.red-background {
  background-color: red;
  color: white; /* Выберите цвет текста, который хорошо будет виден на красном фоне */
}

.gray-background {
  background-color: gray;
  color: white; /* Выберите цвет текста, который хорошо будет виден на красном фоне */
}

.yellow-background {
  background-color: yellow;
  color: black; /* Выберите цвет текста, который хорошо будет виден на красном фоне */
}

.card-metric {
    width: 185px;
    height: 175px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-metric .card-metric-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1.5rem 0.5rem;
    text-align: center;
}

.card-metric .card-metric-title {
    font-size: 18px;
}

.card-score {
    font-size: 40px;
    font-weight: bold;
}


.content {
    width: 860px; /* 190px * 4 (cards) + 10px * 8 (margins) */
    margin: auto;
}

.toast {
    position: absolute;
    pointer-events: none;
    background-color: #fff;
    opacity: 0.95;
}
.struck {
    text-decoration: line-through;
    color: red;
    font-size: 1.15em;
}
.corrected {
    color: #28a745;
    font-weight: bold;
    font-size: 1.15em;
}

/* Speaking Attempt Results */
.container_1000px {
  margin-top: 50px;
  max-width: 1000px;
}
.score {
  font-size: 28px;
  font-weight: bold;
  color: red;
}
.criteria-heading {
  font-size: 20px;
  font-weight: normal;
}
.dialogue {
  margin-bottom: 1rem;
}
.question {
  font-weight: bold;
  color: #333;
  margin-bottom: 0.25rem;
}
.answer {
  margin-top: 0;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f8f9fa; /* Цвет фона элемента */
    padding: 10px; /* Отступы вокруг элемента */
  }


/* Practice starting countdown */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
}

.countdown {
    color: #fff;
    font-size: 48px;
}


/* New subsection results page (June 13) */
.circle-score {
width: 40px;
height: 40px;
font-size: 1.15rem;
}

:root {
--rating-size: 3rem;
--bar-size: 0.5rem;
--background-color: #fff;
--rating-color-default: #2980b9;
--rating-color-background: #A1A2A0;
--rating-color-good: #27ae60;
--rating-color-meh: #f1c40f;
--rating-color-bad: #e74c3c;
}

.rating {
position: relative;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100%;
overflow: hidden;
background: var(--rating-color-default);
color: var(--rating-color-default);
width: var(--rating-size);
height: var(--rating-size);
}

.rating span {
position: relative;
display: flex;
font-weight: bold;
font-size: 1.2rem;
z-index: 2;
}

.rating::after {
content: "";
position: absolute;
inset: var(--bar-size);
background: var(--background-color);
border-radius: inherit;
z-index: 1;
}

.rating::before {
content: "";
position: absolute;
inset: var(--bar-size);
border-radius: inherit;
box-shadow: 0 0 0 1rem var(--rating-color-background);
z-index: -1;
}

.rating.good {
background: var(--rating-color-good);
color: var(--rating-color-good);
}

.rating.meh {
background: var(--rating-color-meh);
color: var(--rating-color-meh);
}

.rating.bad {
background: var(--rating-color-bad);
color: var(--rating-color-bad);
}

.header-content-scores {
    margin-left: 10px;
}

.score-text {
display: block;
font-size: 0.8em;
}