{% extends "layout.html" %}
{% block title %}
Main page
{% endblock %}
{% block h1 %}
{% if current_user.is_authenticated %}
Hello {{ current_user.first_name or 'there' }} 👋
{% endif %}
{% endblock %}
{% block h2 %}
Ready to master your IELTS skills? Choose a section to practice today!
{% endblock %}
{% block content %}
<div class="row">
   <div class="col-sm-3 mb-3">
      <div class="p-1 card bg-body shadow-sm" style="border: none">
         <div class="card-body">
            <h5 class="card-title"><i class="bi bi-mic"></i> Speaking</h5>
            <p class="card-text">Practice answering interview-style questions, simulating the IELTS speaking section.</p>
            <a href="{{ url_for('main.render_section', name='speaking') }}" class="btn btn-primary position-relative">
            Get Started
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            Beta
            </span>
            </a>
         </div>
      </div>
   </div>
   <div class="col-sm-3 mb-3">
      <div class="p-1 card bg-body shadow-sm" style="border: none">
         <div class="card-body">
            <h5 class="card-title"><i class="bi bi-ear"></i> Listening</h5>
            <p class="card-text">Boost your skills in understanding varied accents and conversations as in IELTS listening.</p>
            <a href="#" class="btn btn-primary position-relative disabled">
            Get Started
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
            Soon
            </span>
            </a>
         </div>
      </div>
   </div>
   <div class="col-sm-3 mb-3">
      <div class="p-1 card bg-body shadow-sm" style="border: none">
         <div class="card-body">
            <h5 class="card-title"><i class="bi bi-book"></i> Reading</h5>
            <p class="card-text">Boost speed and comprehension for long texts, akin to the IELTS reading tasks.</p>
            <a href="#" class="btn btn-primary position-relative disabled">
            Get Started
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
            Soon
            </span>
            </a>
         </div>
      </div>
   </div>
   <div class="col-sm-3 mb-3">
      <div class="p-1 card bg-body shadow-sm" style="border: none">
         <div class="card-body">
            <h5 class="card-title"><i class="bi bi-pencil"></i> Writing</h5>
            <p class="card-text">Practice writing essays and reports, similar to tasks in the IELTS writing section.</p>
            <a href="#" class="btn btn-primary position-relative disabled">
            Get Started
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">
            Soon
            </span>
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}