{% extends "layout.html" %}
{% block title %}
Speaking practice
{% endblock %}
{% block h1 %}
History
{% endblock %}
{% block h2 %}
History of Your Progress on IELTS Exam Sections
{% endblock %}
{% block content %}


{% if user_progress_history %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
   <table class="table align-middle">
      <thead>
         <tr>
            <th scope="col">Section</th>
            <th scope="col">Status</th>
            <th scope="col">Finished</th>
            <th scope="col">Final score</th>
            <th scope="col">Action</th>
         </tr>
      </thead>
      <tbody>
         {% for progress in user_progress_history %}
         <tr>
            <td>
               {{ progress.section.name }}
            </td>
            <td>
               {% if progress.is_completed %}
               <span class="completed_dot"></span> Completed
               {% else %}
               <span class="in_progress_dot"></span> In Progress
               {% endif %}
            </td>
            <td>
               {% if progress.completed_at %}
               {{ progress.completed_at | time_ago_in_words }}
               {% else %}
               -
               {% endif %}
            </td>
            <td>
               {% if progress.completed_at %}
               {{ progress.get_speaking_final_scores().overall_score | show_score_with_emoji }}
               {% else %}
               -
               {% endif %}
            </td>
            <td>
               {% if progress.is_completed %}
               <a href="{{ url_for('main.get_section_results', user_progress_id=progress.id) }}" class="btn btn-outline-success" role="button">View result</a>
               {% else %}
               <a href="{{ url_for('main.render_section', name=progress.section.name) }}" class="btn btn-primary" role="button">Resume</a>
               {% endif %}
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% else %}
<div class="text-center" style="min-height: 50vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h3 class="mb-3">You have not yet completed any IELTS sections</h3>
    <a href="{{ url_for('main.index') }}" class="btn btn-primary btn-lg">Select IELTS Section</a>
</div>
{% endif %}

{% endblock %}