{% extends "layout.html" %}
{% block title %}
Speaking practice
{% endblock %}
{% block h1 %}
Speaking practice
{% endblock %}
{% block h2 %}
{{ section.description }}
{% endblock %}
{% block content %}


<div class="my-3 p-3 bg-body rounded shadow-sm">
   <table class="table align-middle">
      <thead>
         <tr>
            <th scope="col">Subsection</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
         </tr>
      </thead>
      <tbody>
         {% for subsection in subsections %}
         <tr>
            <td>
               <strong class="text-gray-dark">Part {{ subsection.part_number }}: {{ subsection.name }}</strong>
               <span class="d-block text-muted">{{ subsection.description }}</span>
            </td>

            {% if subsection.status == "Completed" %}
            <td><span class="completed_dot"></span>{{ subsection.status }}</td>
            <td><a href="{{ url_for('main.get_speaking_attempt', user_subsection_attempt_id=subsection.attempt_id) }}" class="btn btn-outline-success">View results</a></td>

            {% elif subsection.status == "Available" %}
            <td>{{ subsection.status }}</td>
            <td><a href="{{ url_for('main.speaking_practice_get') }}" class="btn btn-primary">Start practice</a></td>

            {% else %}
            <td>{{ subsection.status }}</td>
            <td><button type="button" class="btn btn-primary disabled">Start practice</button></td>
            {% endif %}
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>

<!--Reset section progress-->
<div class="text-center mt-3">
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#resetConfirmModal">Reset progress</button>
</div>

<!-- Modal -->
<div class="modal fade" id="resetConfirmModal" tabindex="-1" aria-labelledby="resetConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetConfirmModalLabel">Confirm Reset</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reset the progress of the current section? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, keep my progress</button>
        <form action="/reset-section-progress" method="POST">
            <input type="hidden" name="section_name" value="{{ section.name }}">
          <button type="submit" class="btn btn-danger">Yes, reset my progress</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}