{% extends "layout.html" %}
{% block title %}
   Speaking practice
{% endblock %}
{% block h1 %}
   Speaking practice
{% endblock %}

{% block h1_classes %}
   text-center
{% endblock %}

{% block content %}

<div class="container text-center">
   <ul class="list-group" style="max-width: 380px; margin: 0 auto;">
      {% for subsection in subsections %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
         Part {{ subsection.part }}: {{ subsection.name }}
         {% if subsection.part == current_subsection.part %}
         <span class="badge bg-primary rounded-pill">You are here</span>
         {% elif subsection.part < current_subsection.part %}
         <span class="badge bg-success rounded-pill">Completed</span>
         {% endif %}
      </li>
      {% endfor %}
   </ul>
</div>

<div id="centred-container">
   <p class="text-muted small mt-2" id="questionCount" style="display: none;"></p>
   <p class="lead fs-2" id="questionText">
      In the Speaking section's first part, answer questions about yourself, family, job, and more.
      Simply use your voice and a microphone.
   </p>
   <button class="btn btn-primary btn-lg" id="microphoneButton" style="display: block;">
   <i class="bi bi-mic-fill"></i> Turn on the microphone
   </button>
   <button class="btn btn btn-success btn-lg" id="startSpeakingButton" style="display: none;">
   Start speaking practice
   </button>
   <button class="btn btn btn-primary btn-lg" id="nextQuestionButton" style="display: none;">
   Next question
   </button>
   <button class="btn btn btn-success btn-lg" id="completePracticeButton" style="display: none;">
   Complete speaking practice
   </button>
   <div class="time-container">
      <span class="recording-dot" style="display: none;"></span>
      <p class="text-muted small mt-2" id="timeLimitText">Time limit: 5 minutes</p>
   </div>
</div>


<!--timer-->
<div class="timer-container" id="timerContainer" style="visibility: hidden;">
    <span id="timer">05:00</span>
</div>


<script>
   const questionSet = {{ question_dict|tojson|safe }};
</script>

<script src="{{ url_for('static', filename='recording.js') }}"></script>

{% endblock %}
