{% extends "layout.html" %}
{% block title %}
Speaking practice
{% endblock %}
{% block h1 %}
Speaking practice
{% endblock %}
{% block h1_classes %}
text-center
{% endblock %}
{% block content %}
<!--Subsections list-->
<div class="container text-center">
   <ul class="list-group" style="max-width: 380px; margin: 0 auto;">
      {% for subsection in subsections %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
         Part {{ subsection.part_number }}: {{ subsection.name }}
         {% if subsection.part_number == current_subsection.part_number %}
         <span class="badge bg-primary rounded-pill">You are here</span>
         {% elif subsection.part_number < current_subsection.part_number %}
         <span class="badge bg-success rounded-pill">Completed</span>
         {% endif %}
      </li>
      {% endfor %}
   </ul>
</div>
<div class="card text-center bg-white mt-5" id="speaking-practice-card">
   <div class="card-header" id="cardHeader">
      Part {{ current_subsection.part_number }}: {{ current_subsection.name }}
   </div>
   <div class="card-body">
      <h5 class="card-title" id="cardTitle">
         {{ current_subsection.description }}</h5>
      <p class="card-text" id="cardText">Simply use your voice and a microphone.</p>
      {% if practice.topic_name %}
      <ul style="text-align: left; display: none;" id="topicQuestions">
         {% for question in practice.questions %}
         <li>{{ question }}</li>
         {% endfor %}
      </ul>
      {% endif %}
      <a class="btn btn-primary" id="microphoneButton" style="display: inline-block;">Turn on the microphone</a>
      <a class="btn btn-primary" id="startSpeakingButton" style="display: none;">Start Speaking Practice</a>
      <a class="btn btn-primary" id="nextQuestionButton" style="display: none;">Next question</a>
      <a class="btn btn-primary" id="startCardAnswerButton" style="display: none;">I'm ready to answer</a>
      <a class="btn btn-primary" id="completePracticeButton" style="display: none;">Complete speaking practice</a>
   </div>
   <div class="card-footer text-muted">
      <div id="cardFooterText" style="display: inline-block;">Time limit: {{ current_subsection.time_limit_minutes }} minutes</div>
      <div id="recordingIndicator" style="display: none;">
         <div class="blinking-dot"></div>
         <span>Recording in progress...</span>
      </div>
   </div>
</div>
<div class="timer-container" id="timerContainer" style="visibility: hidden;">
   <span id="timer"></span>
</div>
<script>const practice = {{ practice|tojson|safe }};</script>
<script src="{{ url_for('static', filename='recording.js') }}"></script>

<div class="sticky-footer">
  <form action="/reset-section-progress" method="POST">
    <button type="submit" class="btn btn-outline-danger">Delete Progress</button>
  </form>
</div>

{% endblock %}