{% extends "layout.html" %}
{% block title %}
Speaking practice
{% endblock %}
{% block h1 %}
Speaking practice
{% endblock %}
{% block h1_classes %}
text-center
{% endblock %}

{% block content %}


<div class="card text-center bg-white">
  <div class="card-header">
    Part 1: Introduction and Interview
  </div>
  <div class="card-body">
    <h5 class="card-title">In the Speaking section's first part, answer questions about yourself, family, job, and more.</h5>
    <p class="card-text">Simply use your voice and a microphone.</p>
    <a href="#" class="btn btn-primary">Start Speaking Practice</a>
  </div>
  <div class="card-footer text-muted">
    Time limit: 5 minutes
  </div>
</div>

<div class="card text-center bg-white mt-5">
  <div class="card-header">
    Question 1 of 10
  </div>
  <div class="card-body">
    <h5 class="card-title">Can you tell me your full name, please?</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Next question</a>
  </div>
  <div class="card-footer text-muted">
    Recording in progress...
  </div>
</div>


<div class="card text-center bg-white mt-5">
  <div class="card-header">
    Cue Card
  </div>
  <div class="card-body">
    <h5 class="card-title">I'd like you to describe a memorable event that happened in your life</h5>
    <p class="card-text" >You should say:</p>

    <ul style="text-align: left;">
      <li>Who the person is</li>
      <li>How you know this person</li>
      <li>What this person does</li>
    </ul>

    <a href="#" class="btn btn-primary">I'm ready to answer</a>
  </div>
  <div class="card-footer text-muted">
    Time limit: 2 minutes
  </div>
</div>

{% endblock %}