{% extends "layout.html" %}
{% block title %}
Speaking practice
{% endblock %}
{% block h1 %}
Speaking practice
{% endblock %}
{% block h1_classes %}
text-center
{% endblock %}
{% block content %}


<button onclick="startCountdown()">Начать отсчет</button>
    <div class="overlay" id="overlay">
        <div class="countdown" id="countdown"></div>
    </div>

 <script>
 function startCountdown() {
     var countdownElement = document.getElementById('countdown');
     var overlayElement = document.getElementById('overlay');

     overlayElement.style.visibility = 'visible';

     var count = 3;
     countdownElement.textContent = count;

     var countdownInterval = setInterval(function() {
         count--;
         countdownElement.textContent = count;

         if (count <= 0) {
             clearInterval(countdownInterval);
             overlayElement.style.visibility = 'hidden';
             // Здесь выполните остальные действия, которые должны произойти после отсчета
         }
     }, 1000);
 }
 </script>


{% endblock %}